body {
    margin: 0;
    background-color: #fffbef;
}

nav {
    background-color: #5d0703;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
}

nav a {
    margin: 15px;
    color: black;
    font-size: 17px;
    color: #fffbef;
}

header {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 17px;
    color: black;
}

.parte1 {
    display: flex;
    flex-direction: column;
    
}

.texto1 {
    margin-left: 15px;
    font-size: 17px;
}

.parte2 {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    font-size: 17px;
}

.eventos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.evento {
    background-color: #5d0703;
    color: #fffbef;
    width: 305px;
    height: 390px;
    border-radius: 10px;
    flex-wrap: wrap;
    margin-left: 10px;
    margin-inline: 70px;
    margin-top: 20px;
    line-height: 14px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

img {
    width: 300px;
    border-radius: 10px;
    margin-top: 3px;
}

footer{
    background-color: #5d0703;
    color: #fffbef;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-top: 20px;
}

@media screen and (max-width: 600px) {
    body {
        flex-direction: column;
    }
}
